/* 
    Document   : admin
    Created on : 22/03/2013, 16:01:49
    Author     : Cleber
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: url(../imagens/background.jpg) repeat-x top;
    font-family:Tahoma, Geneva, sans-serif;
    font-size:12px;
}

#tudo {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    min-width: 1000px;
}

#header {
    height:120px;
    background:#004667;
    color: #FFF;
    text-align: center;
    line-height: 120px;
}

#header .logo_header {
    margin-top: 21px;    
}

#menu_box {
    height:41px;
    background:#387AAC;
    border-top: 2px solid #387AAC;
}

ul#menu {
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 2px;
    list-style: none;
}

ul#menu li {
    float: left;
    font-weight: bold;
    margin-top: 12px;
}

ul#menu li a {
    background:#00436A;
    padding: 12px 15px 12px 15px;
    color: #FFF;
    border-left:10px solid #002942;
    border-right:10px solid #002942;
}

ul#menu li a:hover {
    text-decoration: none;
    border-left:10px solid #0FF;
    border-right:10px solid #0FF;
}

ul#menu li ul {
    display: none;
}

ul#menu li:hover ul {
    display: block;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 12px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#saudacao {
    line-height: 38px;
    float: right;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

#conteudo {
    width: 90%;
    min-width: 940px;
    background: #FFF;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;
}



h2.titulo_pagina {
    color: #004667;
    margin-left: 15%;
}

p.link_inserir {
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0px 20px 15%;
}

.img_inserir {
    position: relative;
    top: 7px;
    margin-right: 10px;
}

h4.erro_login {
    margin-left: 15%;
    color: #F00;
    margin: 0;
    text-align: center;
}

#form {
    width: 800px;
    margin: 0 auto;
}

form {
    margin-top: 30px;
}

label {
    width: 120px;
    text-align: right;
    float: left;
    margin: 7px 0 12px 150px;
    clear: both;
}

input, select, textarea {
    margin-left: 10px;
    width: 250px;
    float: left;
    border: 1px solid #004667;
    padding: 3px;  
    text-transform: uppercase;
}

label.label_radio_tipo {
    width: 120px;
    float: left;
    margin:0 0 10px 280px;
}

input.input_radio {
    width: 20px;
    float: right;
}

#consultacep {
    float: left;
    margin-left: 10px;
}

select {
    width: 258px;
    text-transform: uppercase;
}

input#submit {
    clear:both;
    margin: 0;
    width: 130px;
    margin-left: 340px;
    margin-top: 10px;
    padding: 3px;
    font-weight: bold;
    text-transform: capitalize;
}

ul.errors {
    clear: both;
    list-style: none;
    padding: 0;
    margin-left: 280px;
    color: #F00;
}

.clear {
    clear: both;
}

#grupo_form {
    display: none;
}

/* Lightbox jQuery */
#caixa_total {
    background:silver;
    width:100%;
    height:100%;
    display:none;
    position:absolute;
    z-index:10000;
    top:0;
    left: 0;
}

#conteudo_caixa {
    position:absolute;
    z-index:10001;
    width: 600px;
    height: 400px;
    left:50%;
    top:50%;
    margin-left: -300px;
    margin-top: -200px;
    background:#fff;
    display:none;
    padding:10px;
}

#fechar {
    float:right;
    background:#000;
    color:#fff;
    padding:4px;
    display:none;
    cursor:pointer;
}

/* tables */
table.tablesorter {
    font-family:arial;
    background-color: #CDCDCD;
    margin:0 auto;
    font-size: 8pt;
    width: 70%;
    text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;
}
table.tablesorter thead tr .header {
    background-image: url(../bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 3px;
    background-color: #FFF;
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(../asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(../desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}